@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro:wght@300&family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Silkscreen:wght@700&family=Special+Elite&display=swap');

.container {
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#web-container {
    min-width: 1450px;
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.web-header {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.web-head {
    max-width: 100%;
    max-height: 340px;
    border-radius: 15%;
}

.info-box {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-columns: 53% 47%;
}

.info-rows {
    display: grid;
    grid-template-rows: 50% 50%;
    height: 47px;
    padding-top: 46px;
    margin-left: -90px;
    margin-bottom: -10px;
    width: 600px;
    line-height: 10px;
}

.info-col {
    display: grid;
    grid-template-columns: 35% 17% 20%;
}

.web-bio {
    display: grid;
    grid-template-rows: 30% 40% 30%;
    padding-left: 20px;
}

.name {
    font-size: 88px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.landing-box {
    padding-top: 10px;
}

.landing-text{
    font-size: 19px;
    margin-top: 20px;
}

.header-skills {
    display: block;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 18px;
    padding-left: 15px;
    width: 225px;
}

.skills-title {
    display: block;
    font-size: 50px;
    color: red;
    opacity: 85%;
}

.web-body {
    height: 700px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.body-title {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.body-bio {
    width: 500px;
    line-height: 25px;
    font-size: 19px;
    font-weight: 400;
}

.pdf-icon {
    height: 20px;
    margin-bottom: -3px;
}

.github-icon {
    height: 30px;
    margin-top: -9px;
    margin-left: -5px;
}

.location-text {
    margin-top: 10px;
    margin-left: -6px;
}

.git-icon {
    height: 17px;
    margin-bottom: -3px;
}

.li-icon {
    height: 23px;
}

.insta-icon {
    height: 26px;
    margin-top: -7px;
    margin-left: -7px;
}

.icon-cont {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-left: -2px;
    max-height: 35px;
    margin-top: 5px;
}

.git-insta-link {
    margin-left: 3px;
}

.froogle-link {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    opacity: 95%;
}

.title {
    font-family: 'Silkscreen', cursive;
    font-size: 35px;
    font-weight: 600;
}

#g-blue{ color:#4285F4; }
#g-red{ color:#DB4437; }
#g-yellow{ color:#F4B400; }
#g-green{ color:#0F9D58; }

.nav-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.header-icon {
    height: 30px;
    margin-top: 8px;
}

.title-grid {
    display: grid;
    grid-template-rows: 30% 70%;
}

.grid {
    display: grid;
    grid-template-rows: 70% 30%;
}

.mugshot {
    max-width: 500px;
    max-height: 500px;
}

.code-container {
    margin-left: -17%;
}

.code-list {
    list-style: none;
    width: 600px;
    margin-left: -4%;
}

#summary {
    width: 70%;
    font-size: 17px;
    margin-top: -15px;
}

li {
    margin-bottom: 15px;
}

.code-listing {
    display: block;
    line-height: 25px;
}

.code-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
}